body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: monospace;
}

input {
    display: block;
    margin: 0 auto;
    width: 180px;
    font-size: 36px;
    border: 3px solid black;
    background: #889470;
}

.display {
    width: 340px;
    height: 680px;
    border: 3px solid black;
    line-height: 10px;
    background: #9aa680;
    position: relative;
}

.pixel {
    display: inline-block;
    padding: 9px;
    margin: 5px;
    background: #889470;
    border: 3px solid #9aa680;
    outline: 4px solid #889470;
}

.active {
    background: black;
    outline: 4px solid black;
}

.gratulation {
    display: none;
    width: 340px;
    height: 264px;
    background: #9aa680;
    position: absolute;
    top: 205px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}