body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    width: 340px;
    height: 680px;
    border: 3px solid black;
    line-height: 10px;
    background: #9aa680;
    position: relative;
}

.pixel {
    display: inline-block;
    padding: 9px;
    margin: 5px;
    background: #889470;
    border: 3px solid #9aa680;
    outline: 4px solid #889470;
}

.active {
    background: black;
    outline: 4px solid black;
}

.gratulation {
    width: 340px;
    height: 272px;
    background: #9aa680;
    position: absolute;
    top: 204px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}