body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 32px;
    text-align: center;
    font-family: monospace;
    margin-top: 40px;
}

.display {
    width: 340px;
    height: 680px;
    border: 3px solid black;
    line-height: 10px;
    background: #9aa680;
    position: relative;
}

.pixel {
    display: inline-block;
    padding: 9px;
    margin: 5px;
    background: #889470;
    border: 3px solid #9aa680;
    outline: 4px solid #889470;
}

.active {
    background: black;
    outline: 4px solid black;
}

.modal-window {
    font-family: monospace;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 340px;
    height: 310px;
    background: #9aa680;
    position: absolute;
    top: 182px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.modal-window__form {
    display: none;
    margin-top: 44px;
}

.modal-window__input {
    box-sizing: border-box;
    outline: #889470;
    font-family: monospace;
    display: block;
    margin: 0 auto 0.5em;
    width: 180px;
    font-size: 24px;
    border: 3px solid black;
    background: #889470;
}

.modal-window__label {
    display: block;
    font-size: 18px;
    text-align: center;
    margin-bottom: 1.5em;
}

.modal-window__message {
    text-align: center;
    font-size: 23px;
    line-height: 1.5em;
    margin-top: 32px;
}

.modal-window__message p {
    margin: 5px 0;
    height: 70px;
}

.modal-window__score {
    margin-top: 30px;
    text-align: center;
}
